<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="about.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <h1>About Us</h1>
    <section class="section1">
        <h1>Coding Club</h1>
        <p>To encourage and develop coding culture among students by creating a competitive and sportive environment.
        </p>
    </section>
    <section class="section2">
        <h1>Vision & Mission</h1>
        <p>To make students perfect in approaching a problem and solving it by matering Data Structure and Algorithm .
            This Coding Club can make enthusiastic students to enhance their problem solving skills which can make them
            excel in their career.</p>
    </section>
    <section class="section3">
        <h1>Outcomes</h1>
        <div id="outcome">
            <div class="outcome1">
                <h3>Critical Thinking</h3>
                <img src="/cc_website/Images/1.png" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, quo! Porro earum, at laudantium
                    adipisci aut deserunt ducimus perspiciatis quae voluptates nesciunt hic tempore est velit non, nemo
                    nisi ullam!</p>
            </div>
            <div class="outcome2">
                <h3>Problem Solving</h3>
                <img src="/cc_website/Images/2.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum veritatis animi unde nihil eligendi,
                    odit nisi, consequuntur similique ipsa obcaecati at illo aliquid. Ea sunt similique perspiciatis
                    deserunt incidunt animi.</p>
            </div>
            <div class="outcome3">
                <h3>Time Management</h3>
                <img src="/cc_website/Images/3.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam reiciendis iure alias tenetur at
                    dolorum, sint harum blanditiis, odio, odit magni earum placeat quas cumque voluptatem molestias vero
                    commodi quibusdam.</p>
            </div>


        </div>
    </section>

    <section class="section4">

        <h1>Team Members</h1>
        <div>
            <div id="secretary">
                <div class="sec">
                    <h3>Secretary</h3>
                    <img src="/cc_website/Images/1.png" alt="">
                    <p>Name</p>
                    <div class="icons">
                        <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                        <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                        <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                    </div>
                </div>
            </div>
            <div id="tl">
                <div class="tl1">
                    <h3>Tech Lead</h3>
                    <img src="/cc_website/Images/1.png" alt="">
                    <p>Name</p>
                    <div class="icons">
                        <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                        <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                        <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                    </div>
                </div>
                <div class="tl2">
                    <h3>Tech Lead</h3>
                    <img src="/cc_website/Images/2.png" alt="">
                    <p>Name</p>
                    <div class="icons">
                        <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                        <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                        <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                    </div>
                </div>
                <div class="tl3">
                    <h3>Tech Lead</h3>
                    <img src="/cc_website/Images/3.png" alt="">
                    <p>Name</p>
                    <div class="icons">
                        <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                        <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                        <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                    </div>
                </div>
                <div class="tl4">
                    <h3>Tech Lead</h3>
                    <img src="/cc_website/Images/3.png" alt="">
                    <p>Name</p>
                    <div class="icons">
                        <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                        <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                        <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                    </div>
                </div>
            </div>

            <div>
                <div id="tl">
                    <div class="tl1">
                        <h3>Panel Memner</h3>
                        <img src="/cc_website/Images/1.png" alt="">
                        <p>Name</p>
                        <div class="icons">
                            <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                            <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                            <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                        </div>
                    </div>
                    <div class="tl2">
                        <h3>Panel Memner</h3>
                        <img src="/cc_website/Images/2.png" alt="">
                        <p>Name</p>
                        <div class="icons">
                            <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                            <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                            <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                        </div>
                    </div>
                    <div class="tl3">
                        <h3>Panel Memner</h3>
                        <img src="/cc_website/Images/3.png" alt="">
                        <p>Name</p>
                        <div class="icons">
                            <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                            <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                            <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                        </div>
                    </div>
                    <div class="tl4">
                        <h3>Panel Memner</h3>
                        <img src="/cc_website/Images/3.png" alt="">
                        <p>Name</p>
                        <div class="icons">
                            <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                            <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                            <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="tl">
                        <div class="tl1">
                            <h3>Co-Ordinator</h3>
                            <img src="/cc_website/Images/1.png" alt="">
                            <p>Name</p>
                            <div class="icons">
                                <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                                <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                                <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                            </div>
                        </div>
                        <div class="tl2">
                            <h3>Co-Ordinator</h3>
                            <img src="/cc_website/Images/2.png" alt="">
                            <p>Name</p>
                            <div class="icons">
                                <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                                <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                                <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                            </div>
                        </div>
                        <div class="tl3">
                            <h3>Co-Ordinator</h3>
                            <img src="/cc_website/Images/3.png" alt="">
                            <p>Name</p>
                            <div class="icons">
                                <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                                <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                                <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                            </div>
                        </div>
                        <div class="tl4">
                            <h3>Co-Ordinator</h3>
                            <img src="/cc_website/Images/3.png" alt="">
                            <p>Name</p>
                            <div class="icons">
                                <a href="#"><i class='bx bxl-linkedin-square' style="font-size: 2em;"></i></a>
                                <a href="#"><i class='bx bxl-twitter' style="font-size: 2em;"></i></a>
                                <a href="#"><i class='bx bxl-instagram' style="font-size: 2em;"></i></a>
                            </div>
                        </div>
                    </div>



    </section>


</body>

</html>